<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xa.qyw.dao.FeedBackDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->

	<resultMap id="AppCrash" type="com.xa.qyw.entiy.FeedBack">
		<id column="id" property="id" />
		<result column="feedback_name" property="name" />
		<result column="feedbac_question" property="question" />
		<result column="feedback_content" property="content" />
		<result column="is_show" property="isShow" />
		<result column="create_time" property="createTime" />
	</resultMap>
	<!-- 查询单条记录 -->


	<insert id="addFeedBack" parameterType="com.xa.qyw.entiy.FeedBack" useGeneratedKeys="true" keyProperty="id">
		insert into
		yht_app_feedback
		(feedback_name,feedbac_question,feedback_content,is_show,create_time) values
		(#{name},#{question},#{content},#{isShow},#{createTime})
	</insert>


</mapper>